numpy==1.24.1
pandas==1.5.3
torch==2.1.0
torchvision==0.16.0
timm==0.9.8
pytorch-metric-learning==2.3.0
tensorboard==2.11.2
faiss-gpu==1.7.2
einops==0.7.0
iterative-stratification==0.1.7

jupyter 
notebook 

isort==5.12.0
black==23.1.0
